<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="Projeto Integrador, turma 35, grupo 05">
  <title>Desafios</title>
  <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/styles-geral.css">
  <link rel="stylesheet" href="../css/styles-desafio.css">

  <script src="../js/loadFooter.js" defer></script>
  <script src="../js/loadHeader.js" defer></script>
  <script src="../js/desafios.js" defer></script>
</head>

<body>
  <header id="header"></header>

  <main>
    <h1 id="titulo-pagina">DESAFIOS DE LEITURAS DO SEMESTRE</h1>
    <h3>São 06 meses para você completar algum desafio, realizar a prova pelo acompanhamento de leitura do aplicativo
      Skoob e ganhar o cupom de desconto da Amazon</h3>

    <div class="imagem-fundo">
      <div class="conteudo">
        <img src="../../itens_utilizados/images/images-paginas/pilha-livros-1.png" class="imagem-desafios">

        <ul class="desafios-lista">
          <li><a href="../../itens_utilizados/pdfs-desafios/desafio-variado.pdf" target="_blank">DESAFIO ASSUNTOS
              <br>VARIADOS</a></li>
          <li><a href="../../itens_utilizados/pdfs-desafios/desafio-notas.pdf" target="_blank">DESAFIO MAIORES<br>
              NOTAS EM 2022</a></li>
          <li><a href="../../itens_utilizados/pdfs-desafios/desafio-paises.pdf" target="_blank">DESAFIO PAÍSES<br>
              DIFERENTES</a></li>
          <li><a href="../../itens_utilizados/pdfs-desafios/desafio-epoca.pdf" target="_blank">DESAFIO LIVROS <br> DE
              ÉPOCA</a></li>
        </ul>
      </div>
    </div>

    <div class="title_2">
      <p>Terminou algum desafio?</p>
      <p>Envie o nome do desafio e o nome do seu perfil no <a href="https://www.skoob.com.br/" target="_blank"> Skoob</a></p>
      <p>Se estiver tudo certo você receberá um cupom de 30% de desconto* em compras de livros na Amazon.</p>
      <p>*desconto não acumulativo</p>
      <a href="mailto:someone@example.com">Enviar e-mail</a>
    </div>

    <br>
    <br>
    <br>

   
    <h2 class="quiz_desafio">QUIZ: QUE TIPO DE LEITOR VOCÊ É?</h2>

    <form id="quizForm">
      <fieldset>
        <legend>1. Como você escolhe um livro pra ler?</legend>
        <canvas id="canvas1" width="200" height="100"></canvas><br>

        <input type="radio" id="opcaoA1" name="pergunta1" value="a">
        <label for="opcaoA1">a) Pela capa, obviamente. Se não tem dragão ou romance, nem olho.</label><br>

        <input type="radio" id="opcaoB1" name="pergunta1" value="b">
        <label for="opcaoB1">b) Procuro uma lista de “Livros que você precisa ler antes de morrer” e ignoro.</label><br>

        <input type="radio" id="opcaoC1" name="pergunta1" value="c">
        <label for="opcaoC1">c) Vou na livraria e escolho o mais pesado. Preciso de algo para malhar.</label><br>

        <input type="radio" id="opcaoD1" name="pergunta1" value="d">
        <label for="opcaoD1">d) Pergunto para amigos, mas depois ignoro as sugestões e releio Harry Potter.</label>
      </fieldset>

      <fieldset>
        <legend>2. Você está lendo um clássico, e ele começa com a frase: “Era uma vez...” O que você pensa?</legend>
        <canvas id="canvas2" width="200" height="100"></canvas><br>

        <input type="radio" id="opcaoA2" name="pergunta2" value="a">
        <label for="opcaoA2">a) Finalmente algo que eu entendo!</label><br>

        <input type="radio" id="opcaoB2" name="pergunta2" value="b">
        <label for="opcaoB2">b) “Era uma vez”... meu tempo livre.</label><br>

        <input type="radio" id="opcaoC2" name="pergunta2" value="c">
        <label for="opcaoC2">c) Não importa, eu vou ler até o fim porque sou culta.</label><br>

        <input type="radio" id="opcaoD2" name="pergunta2" value="d">
        <label for="opcaoD2">d) Clássico ou não, eu só quero saber se tem final feliz!</label>
      </fieldset>

      <fieldset>
        <legend>3. Qual o seu maior pesadelo literário?</legend>
        <canvas id="canvas3" width="200" height="100"></canvas><br>

        <input type="radio" id="opcaoA3" name="pergunta3" value="a">
        <label for="opcaoA3">a) Alguém dobrando as páginas do meu livro para marcar onde parou.</label><br>

        <input type="radio" id="opcaoB3" name="pergunta3" value="b">
        <label for="opcaoB3">b) Spoiler do final – ninguém merece saber que o vilão é o mordomo.</label><br>

        <input type="radio" id="opcaoC3" name="pergunta3" value="c">
        <label for="opcaoC3">c) Ser forçado a ler autoajuda com títulos como “Sorria enquanto tudo dá errado”.</label><br>

        <input type="radio" id="opcaoD3" name="pergunta3" value="d">
        <label for="opcaoD3">d) Esquecer o livro no ônibus e nunca mais vê-lo.</label>
      </fieldset>

      <fieldset>
        <legend>4. Onde você lê?</legend>
        <canvas id="canvas4" width="200" height="100"></canvas><br>

        <input type="radio" id="opcaoA4" name="pergunta4" value="a">
        <label for="opcaoA4">a) Na cama. É onde finjo que vou terminar o livro e acabo dormindo.</label><br>

        <input type="radio" id="opcaoB4" name="pergunta4" value="b">
        <label for="opcaoB4">b) Em qualquer lugar, desde que não tenha gente me interrompendo.</label><br>

        <input type="radio" id="opcaoC4" name="pergunta4" value="c">
        <label for="opcaoC4">c) Em cafés. Porque aesthetic.</label><br>

        <input type="radio" id="opcaoD4" name="pergunta4" value="d">
        <label for="opcaoD4">d) No banheiro. Porque é o único momento de paz.</label>
      </fieldset>

      <fieldset>
        <legend>5. Qual seu lema de vida como leitor?</legend>
        <canvas id="canvas5" width="200" height="100"></canvas><br>

        <input type="radio" id="opcaoA5" name="pergunta5" value="a">
        <label for="opcaoA5">a) Um livro por vez. Não sou uma série da Netflix.</label><br>

        <input type="radio" id="opcaoB5" name="pergunta5" value="b">
        <label for="opcaoB5">b) Compro mais livros do que posso ler – mas eles ficam lindos na estante.</label><br>

        <input type="radio" id="opcaoC5" name="pergunta5" value="c">
        <label for="opcaoC5">c) Livros emprestados são como ex-namorados: difíceis de devolver.</label><br>

        <input type="radio" id="opcaoD5" name="pergunta5" value="d">
        <label for="opcaoD5">d) Ler? Prefiro o filme.</label>
      </fieldset>

      <button type="submit">Enviar</button>
    </form>

    <div id="resultModal" class="modal">
      <div class="modal-content">
        <span class="close-modal">&times;</span>
        <h2>Resultado</h2>
        <img id="modalImage" class="modal-image" />
        <p id="modalText"></p>
      </div>
    </div>
  </main>

  <footer id="footer"></footer>
</body>

</html>