<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESAFIOS</title>
</head>
<body>
    <img src="../../itens_utilizados/images/images-paginas/fundo-livro-voando.png">
    

    <h1>DESAFIOS DE LEITURAS DO SEMESTRE</h1>
    <h3>São 06 meses para você completar algum desafio, realizar a prova pelo acompanhamento de leitura do aplicativo Skoob e ganhar o cupom de desconto da Amazon</h3>

    <li>
        <a href="../../itens_utilizados/pdfs-desafios/desafio-variado.pdf">DESAFIO <BR> ASSUNTOS VARIADOS</a>
        <a href="../../itens_utilizados/pdfs-desafios/desafio-notas.pdf">DESAFIO <BR> MAIORES NOTAS EM 2022</a>
        <a href="../../itens_utilizados/pdfs-desafios/desafio-paises.pdf">DESAFIO <BR> PAÍSES DIFERENTES</a>
        <a href="../../itens_utilizados/pdfs-desafios/desafio-epoca.pdf">DESAFIO <BR> EFP</a>
    </li>


    <p>Terminou algum desafio ?</p>
    <p>Envie o nome do desafio e o nome do seu perfil no Skoob.</p>
    <p>se estiver tudo certo você receberá um cupom de 30% de desconto em compras de livros na Amazon.</p>
    <p>* desconto não acumulativo</p>


    

</body>
<footer>

    <p> Mapa do site: </p>
    <li>
        <a href="index.html">Início</a>
        <a href="login.html">Login</a>
        <a href="resenhas.html">Resenhas</a>
        <a href="lancamentos.html">Lançamentos</a>
        <a href="desafio.html">Desafios</a>
        <a href="linksUteis.html">Links</a>
    </li>
    
    </footer>
</html>