<style>
  .footer-custom {
    padding: 0;
    margin: 0;
  }

  .footer-custom img {
    float: left;
    width: 10%;
    height: auto;
    margin-right: 20px;
    /* Adiciona distância entre a imagem e o conteúdo */
  }

  .mapa-site {
    display: flex;
    /* Usa flexbox para colocar as listas lado a lado */
    justify-content: space-evenly;
  }

  .mapa-site p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    /* Destaca o título "Mapa do site" */
  }

  .mapa-site ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-custom h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
  }


  @media screen and (max-width: 700px) {
    .mapa-site {
      flex-direction: column;
    }
  }
</style>

<footer class="footer-custom">
  <hr>
  <a href="index.html">
    <img src="../../itens_utilizados/images/images-paginas/logo.png" alt="logo">
  </a>

  <div class="mapa-site">
    <div>
      <p>Mapa do site:</p>

      <ul>
        <li><a href="index.html">Início</a></li>
        <li><a href="login.html">Login/Cadastro</a></li>
        <li><a href="resenhas.html">Resenhas</a></li>
      </ul>
    </div>

    <div>
      <ul>
        <li><a href="livrosSeries.html">Livros que viraram séries</a></li>
        <li><a href="lancamentos.html">Lançamentos</a></li>
        <li><a href="desafio.html">Desafios</a></li>
        <li><a href="linksUteis.html">Links úteis</a></li>
      </ul>
    </div>
  </div>

  <h3>  ©Copyright - Desenvolvido pelo Grupo-5 | Turma 35 | Proz</h3>
</footer>