<!-- assim se faz um comentário -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="Projeto Integrador, turma 35, grupo 05">
  <title>Book Sincero</title>
  <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/styles-geral.css">
  <link rel="stylesheet" href="../css/styles-index.css">

  <script src="../js/loadFooter.js" defer></script>
  <script src="../js/loadHeader.js" defer></script>
</head>

<body>
  <header id="header"></header>

  <main>
    <nav>
      <div id="lista-paginas">
        <ul>
          <li><a href="resenhas.html">RESENHAS</a></li>
          <li><a href="livrosSeries.html">LIVROS QUE VIRARAM SÉRIES</a></li>
          <li><a href="lancamentos.html">LANÇAMENTOS</a></li>
          <li><a href="desafio.html">DESAFIOS</a></li>
          <li><a href="linksUteis.html">LINKS ÚTEIS</a></li>
        </ul>
      </div>
    </nav>

    <img src="../../itens_utilizados/images/images-paginas/estante-livros2.png" usemap="#imagem-mapa"
      alt="estante livros">
    <!-- PARA FAZER O MAPA >> https://www.image-map.net/ -->

    <map name="#imagem-mapa">
      <area target="" alt="resenhas" title="resenhas" href="resenhas.html"
        coords="330,176,349,152,427,155,450,176,453,554,430,580,355,580,331,558" shape="poly">
      <area target="" alt="series" title="series" href="livrosSeries.html"
        coords="457,105,477,88,523,83,553,110,548,560,527,581,486,584,460,563" shape="poly">
      <area target="" alt="lançamento" title="lançamento" href="lancamentos.html"
        coords="614,83,627,77,707,91,705,105,647,570,633,582,563,574,558,553" shape="poly">
      <area target="" alt="desafios" title="desafios" href="desafio.html"
        coords="714,87,749,52,906,52,941,93,939,555,914,583,757,586,714,553" shape="poly">
      <area target="" alt="links" title="links" href="linksUteis.html"
        coords="947,141,968,116,1053,115,1078,138,1079,545,1058,583,973,589,941,549" shape="poly">
    </map>

    <h2>Sobre nós</h2>
    
    <h3>Fabrício Pereira Bonifácio</h3>
    <p>Olá</p>
    <p>Meu nome é Fabrício sou estudante na área de desenvolvimento de sistemas. Atualmente estou
      no 3 º período. Ainda não possuo experiência, porém, convido-os a visitarem meu perfil no <a
        href="https://www.linkedin.com/in/fbonifacio" target="_blank">linkeidin</a> e no <a
        href="https://github.com/fa-b09" target="_blank">github</a>.
    </p>
    <a href="https://www.linkedin.com/in/fbonifacio" target="_blank">Visite meu LinkedIn</a>

    <h3>Jéssica</h3>
    <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

    <h3>Pollyana</h3>
    <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

    <h3>Sueli Costa</h3>
    <p>Oi! Aqui vai um pouco de mim em versos.</p>
    <p>Bacharel em Contábeis, na busca constante,
      Tecnólogo em Dados, um futuro vibrante.
      Estudante de TI, com a mente a sonhar,
      Um profissional em ascensão, pronto a brilhar. Para saber mais
      <a href="https:www.linkedin.com/in/suelicienciadados257" target="_blank">Visite meu LinkedIn</a></p>

    <h3>Priscila</h3>
    <a href="https://www.linkedin.com/in/priscila-reginasilva/" target="_blank">Visite meu LinkedIn</a>
  </main>

  <div id="footer"></div>
</body>

</html>