<!-- assim se faz um comentário -->

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="description" content="Projeto Integrador, turma 35, grupo 05">


        <title>BOOK SINCERO</title>
        <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="../css/styles-geral.css">
        <link rel="stylesheet" href="../css/styles-index.css">

        <script src="../js/loadFooter.js" defer></script>
        <script src="../js/loadHeader.js" defer></script>

    </head>


    <body>
        
        <div id="header"></div>
            
        <main>    
            <nav>
                <div id="lista-paginas">
                    <ul>
                        <li><h2><a href="resenhas.html">RESENHAS</a></h2></li>
                        <li><h2><a href="lancamentos.html">LANÇAMENTOS</a></h2></li>
                        <li><h2><a href="desafio.html">DESAFIOS</a></h2></li>
                        <li><h2><a href="linksUteis.html">LINKS ÚTEIS</a></h2></li>
                    </ul>
                </div>
            </nav>    


            
            <img src="../../itens_utilizados/images/images-paginas/estante-livros.png" usemap="#imagem-mapa" alt="estante livros">
            <!-- PARA FAZER O MAPA >> https://www.image-map.net/ -->

            <map name="imagem-mapa">
                <area alt="RESENHA" title="RESENHA" href="resenhas.html" coords="428,156,451,180,454,558,434,580,351,583,330,551,329,287,328,216,330,177,361,157" shape="poly">
                <area alt="LANÇAMENTOS" title="LANÇAMENTOS" href="lancamentos.html" coords="694,85,706,102,648,572,630,585,560,575,557,533,617,88,632,75" shape="poly">
                <area alt="DESAFIOS" title="DESAFIOS" href="desafio.html" coords="940,79,938,555,912,587,741,585,718,562,717,79,749,51,911,53" shape="poly">
                <area alt="LINKS ÚTEIS" title="LINKS ÚTEIS" href="linksUteis.html" coords="1061,112,1079,152,1080,551,1060,583,973,587,943,556,941,141,964,116" shape="poly">
            </map>

            
            

            <hr>    
            <h2>Sobre nós</h2>
                <h3>Fabrício</h3>
                <p></p>            
                <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

                <h3>Jéssica</h3>
                <p></p>            
                <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>
                
                <h3>Pollyana</h3>
                <p></p>            
                <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>
                
                <h3>Sueli</h3>
                <p></p>
                <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

        </main>    
        
        <div id="footer"></div>    
        
    </body>

</html>