<!-- assim se faz um comentário -->

<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BOOK SINCERO</title>
        <link rel="icon" href="../../itens_utilizados/images/images-paginas/pilha-livros-1.png" type="image/x-icon">

        <link rel="stylesheet" href="../css/styles-geral.css">
        <link rel="stylesheet" href="../css/styles-index.css">

    </head>


    <body>

        <h1>BOOK SINCERO</h1>

        <a href="index.html">
        <img src="../../itens_utilizados/images/images-paginas/logo.png" alt="logo">
        </a>

        <img src="../../itens_utilizados/images/images-paginas/lupa.png">

        <img src="../../itens_utilizados/images/images-paginas/facebook.png" alt="imagem facebook">
        <img src="../../itens_utilizados/images/images-paginas/insta.png" alt="imagem insta">
        <img src="../../itens_utilizados/images/images-paginas/youtube.png" alt="imagem youtube">

        <h4><a href="login.html">Entrar</a></h4>
        <h4><a href="login.html">Cadastre-se aqui</a></h4>


        

        <h2><a href="resenhas.html">RESENHAS</a></h2>
        <h2><a href="lancamentos.html">LANÇAMENTOS</a></h2>
        <h2><a href="desafio.html">DESAFIOS</a></h2>
        <h2><a href="linksUteis.html">LINKS ÚTEIS</a></h2>


        <hr>    
        <h2>Sobre nós</h2>
            <h3>Fabrício</h3>
            <p></p>            
            <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

            <h3>Jéssica</h3>
            <p></p>            
            <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>
            
            <h3>Pollyana</h3>
            <p></p>            
            <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>
            
            <h3>Sueli</h3>
            <p></p>
            <a href="colocar linkedin" target="_blank">Visite meu LinkedIn</a>

        
    </body>

    <footer>
        <hr>
        <a href="index.html">
        <img src="../../itens_utilizados/images/images-paginas/logo.png" alt="logo">
        </a>

        <p> Mapa do site: </p>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="login.html">Login/Cadastro</a></li>
            <li><a href="resenhas.html">Resenhas</a></li>
            <li><a href="lancamentos.html">Lançamentos</a></li>
            <li><a href="desafio.html">Desafios</a></li>
            <li><a href="linksUteis.html">Links úteis</a></li>
        </ul>


        <h3>Desenvolvido pelo Grupo-5 | Turma 35 | Proz</h3>

    </footer>

</html>