<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LANÇAMENTOS</title>
        <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

        <link rel="stylesheet" href="../css/styles-geral.css">
        <link rel="stylesheet" href="../css/styles-lancamento.cs">

        <script src="../js/loadFooter.js" defer></script>
        <script src="../js/loadHeader.js" defer></script>

    </head>
    <body>
        <div id="header"></div>

        <main>
            <h1>LANÇAMENTOS DA SEMANA</h1>

            
            
            <div class="imagem-fundo2">
                <div class="carousel-container">

                    <section class="carousel-item">
                        <img src="../../itens_utilizados/images/livros-lancamentos/livro-impostora.jpg" alt="Foto Livro Impostora">
                        <h3>LANÇAMENTO DO <BR> LIVRO "IMPOSTORA"</h3>
                        <p class="author">Escrito por R.F. Kuang</p>
                        
                        <p>Páginas: 352</p>
                        <p>Gênero: Ficção Literária,Thriller, Suspense e Mistério</p>

                        <p><strong>Da autora de A Guerra da Papoula e Babel, um thriller ácido e certeiro sobre apropriação cultural, racismo e as mazelas do mercado editorial</strong></p>
                        <p>As escritoras June Hayward e Athena Liu se formaram em Yale e publicaram seus romances de estreia na mesma época. Tudo indicava que chegariam juntas ao estrelato, mas, pouco depois da graduação, Athena começou a colher louros literários, enquanto June recebeu apenas migalhas de reconhecimento. Afinal, ninguém aguenta mais ler histórias de mulheres brancas — ao menos é o que June pensa.</p>
                        <p>Quando Athena morre em um estranho incidente, June decide que chegou seu momento de brilhar. Por impulso, ela rouba o manuscrito do novo livro da amiga, uma obra experimental sobre a relevância dos trabalhadores chineses durante a Primeira Guerra Mundial.</p>
                        <p>O texto é brilhante. E June recebe uma proposta de publicação de sua editora, que sugere um reposicionamento de mercado. E se ela passasse a usar um nome ambíguo, como Juniper Song? June aceita, pois se uma história é boa, precisa ser contada. E as listas de mais vendidos a fazem acreditar que está no caminho certo.</p>
                        <p>Mas alguém parece saber que a obra-prima de Athena Liu foi roubada, e debates sobre plágio e identidade racial ganham as redes sociais. June então percebe que não poderá escapar desse fantasma para sempre. Do que ela será capaz para proteger o sucesso que acredita merecer?</p>
                        <p>R.F. Kuang mostra a versatilidade de sua escrita ao construir um retrato satírico de como diversidade, racismo e apropriação cultural são abordados em uma indústria que se considera livre de preconceitos, mas que não escapa das armadilhas e crueldades de um sistema que reproduz discriminações.</p>
                        
                        <h5><a href="https://www.amazon.com.br/Impostora-Yellowface-R-F-Kuang/dp/8551010077/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EPO3R8XSL09X&dib=eyJ2IjoiMSJ9.YzqqN2ufVwPhcVt3cqUpNN58Qbl7Son224cTnMbTcLaU1PCCBhg_qRFTwCc4mNON9Fey5HOkndYOMznglt01ArWS5WQUBgqITX66Obo9C9JoeiSve2-vzUMP3F82OMNvMIxL5Ok70cqdLeZK6as6AcPtf1RKkKfKawv3jH8jAy-EZ8lISnNA6RtMcmzysoHRr_KcaWcHZhj9U5Fyd7K91NRNRz3Qf44oWiYILxGOEng.OLzRj0OA2KOjNjdbREx6-hpyTZht7cJaHMxc8yULhgQ&dib_tag=se&keywords=impostora&qid=1730383873&s=books&sprefix=impostora%2Cstripbooks%2C386&sr=1-1" target="_blank">Link de compra na Amazon</a></h5>
                    </section>    
                    
                    <section class="carousel-item">
                        <img src="../../itens_utilizados/images/livros-lancamentos/livro-kdrama.jpg" alt="Foto Livro Minha Vida Pé um (K)Drama">
                        <h3>LANÇAMENTO DO LIVRO <BR> "MINHA VIDA PE UM (K)DRAMA"</h3>
                        <p class="author">Gaby Brandalise</p>
                        
                        <p>Páginas: 224</p>
                        <p>Gênero: Infantojuvenil,Romance</p>
                        
                        <p><strong>Nessa história divertida e apaixonante, Talita tem um plano infalível para arrasar no primeiro beijo, mas nem tudo sai como o esperado</strong></p>
                        <p>Talita é uma adolescente de quatorze anos que esconde dois segredos terríveis: um é que, ao contrário do que a mãe imagina, ela não gosta de filmes cults e programas intelectuais. O que faz seu coração bater mais forte são comédias românticas e vídeos de leituras de tarô no YouTube. E o outro… bem… é que ela não sabe beijar ainda. Nada, nadinha. E isso a incomoda a cada dia que se arrasta pelos corredores de sua escola sem graça em Curitiba (que ainda por cima tem um cheiro enjoativo perpétuo, devido à fábrica de doces logo atrás da instituição).</p>
                        <p>Essa chatice rotineira vira tormento e desespero quando ela é convidada por Gustavo, o garoto nerd e fofo por quem é apaixonada, para a Festa de Inverno da escola. E agora, o que ele vai pensar quando descobrir que, quando se trata de beijos, Talita é nota zero?</p>
                        <p>Influenciada por uma amiga obcecada por k-dramas, ela assiste a uma série com um casal apaixonante e com o beijo mais incrível de todos os tempos. É aí que Talita tem uma ideia brilhante: se muitos dramas coreanos são conhecidos pelas histórias de amor que arrancam suspiros a cada olhar intenso e demorado entre os protagonistas, Joon, o aluno coreano novo na escola, deve ser o grande mestre do romance, certo? Certo? Isso significa que ele é a pessoa perfeita para ensinar Talita a beijar.</p>
                        <p>Sempre muito reservado e de poucos sorrisos, o garoto não quer dar bola para essa menina meio exagerada e tagarela, só que Talita faz uma proposta que ele não pode recusar: ajudá-lo nas aulas de Artes, matéria em que ele vai reprovar se não aprender logo a ser mais criativo. O acordo está feito, e o que parecia o fim do mundo para Talita e Joon pode ser o início de uma conexão surpreendente… e arrebatadora.</p>
                        <p>Com uma protagonista cativante e uma trama repleta de referências à cultura pop, Minha vida é um k-drama é uma história sobre amor, amizade, amadurecimento e, claro, o beijo perfeito.</p>
                        
                        <h5><a href="https://www.amazon.com.br/Minha-vida-%C3%A9-um-k-drama/dp/8551009656/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1XMDTOU05DOYR&dib=eyJ2IjoiMSJ9.7Gfw005R2W3iMZ4PJwXUkw.zxnTv7M-G-YDaztUIlNMN49SoVWrkmPX8BtYa9I95Gc&dib_tag=se&keywords=minha+vida+p%C3%A9+um+kdrama&qid=1730383976&s=books&sprefix=minha+vida+p%C3%A9+um+kdrama%2Cstripbooks%2C207&sr=1-1" target="_blank">Link de compra na Amazon</a></h5>
                    </section>    

                    <section class="carousel-item">    
                        <img src="../../itens_utilizados/images/livros-lancamentos/livro-ladroes.jpg" alt="Foto Livro Jogo dos Ladrões">
                        <h3>LANÇAMENTO DO LIVRO <BR> "JOGO DOS LADRÕES"</h3>
                        <p class="author">Escrito por Kayvion Lewis</p>
                        
                        <p>Páginas: 384</p>
                        <p>Gênero: Thriller, Suspense e Mistério</p>

                        <p><strong> No Jogo dos Ladrões, só os melhores podem entrar. Mas apenas um vai vencer</strong></p>
                        <p>Há gerações a família Quest lidera o mercado de roubos milionários, mas Rosalyn Quest está cansada de se sentir solitária entre uma missão e outra. A jovem quer ir para a faculdade e fazer amigos como uma adolescente comum, e por isso trama um plano para fugir de casa. Porém, no dia da fuga, sua mãe é sequestrada.</p>
                        <p>Desesperada, a garota procura ajuda para pagar o resgate, mas nada dá certo: o valor é alto demais e ninguém quer se envolver. Ou ela arranja o dinheiro, ou a mãe morre. Correndo contra o tempo e sem alternativa, Ross aceita entrar para o Jogo dos Ladrões, uma competição perigosa e mortal que premia o melhor ladrão de elite com um desejo — que pode ser qualquer coisa no mundo.</p>
                        <p>Ross não vai medir esforços para ganhar o jogo e salvar a vida da mãe. Só que as coisas ficam ainda mais complicadas quando, entre os adversários, estão sua arqui-inimiga de infância, Noelia Boschert, e Devroe Kenzie, um garoto charmoso que mexe com seu coração.</p>
                        <p>Em meio a embates espetaculares, esquemas implacáveis e assaltos a museus, Ross vai perceber que, às vezes, alianças são necessárias. Mas será que dá para confiar em um ladrão? E quem será a misteriosa organização por trás da competição? Com uma narrativa eletrizante e um enredo envolvente cheio de reviravoltas, Jogo dos ladrões revela que nem tudo é o que parece quando poder está em jogo. A obra em breve ganhará uma adaptação audiovisual produzida pela Lionsgate e pela Temple Hill Entertainment.</p>
                        
                        <h5><a href="https://www.amazon.com.br/Jogo-dos-Ladr%C3%B5es-Kayvion-Lewis/dp/8551010050/ref=sr_1_1?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=1LGXMOK2NKXJT&dib=eyJ2IjoiMSJ9.5cxXWumuFLDDLByoym-khGYRVHqNGj5rY8T-kDFGJlbOaXCCO6HoaXufT-XYP2bnnqwJs9jzVlkBrJKoDV5D9rmwE9w-zd-5DplyifUbnCRVNT5T8IqgJU-tY3t-3sMCAruWAFa30j1CpvogvUt6-Eo2FzMdXMoxGQkWjUcix823166yIkUkRTyq7Btg_8ya.uKhEVdL2xioeC14Wrk7YXW7YiaywQZAytrmbmY6e_rc&dib_tag=se&keywords=JOGO+DOS+LADR%C3%95ES&qid=1730384019&s=books&sprefix=jogo+dos+ladr%C3%B5es%2Cstripbooks%2C299&sr=1-1" target="_blank">Link de compra na Amazon</a></h5>
                    </section>    

                    <section class="carousel-item">    
                        <img src="../../itens_utilizados/images/livros-lancamentos/livro-respire.jpg" alt="foto livro">
                        <h3>LANÇAMENTO DO LIVRO <BR> "RESPIRE"</h3>
                        <p class="author">Escrito por James Nestor</p>
                        
                        <p>Páginas: 320</p>
                        <p>Gênero: Desenvolvimento Pessoal</p>
                        <p><strong> Não importa se você faz dieta e pratica exercícios, ou se é jovem e forte: não dá para ser saudável sem respirar de forma correta.</strong></p>
                        <p>Não há nada mais essencial para a saúde e o bem-estar do que a respiração: inspirar e expirar, repetir a mesma ação 25 mil vezes ao longo do dia. Apesar disso, a espécie humana parece ter desaprendido a respirar corretamente, e os maus hábitos nos trouxeram graves problemas.</p>
                        <p>Ao visitar escavações de antigas catacumbas, instalações soviéticas secretas, corais em Nova Jersey e ruas poluídas de São Paulo, o jornalista James Nestor procurou descobrir o que deu errado e o que é possível fazer para corrigir isso. O autor entrevistou homens e mulheres que estudam a ciência esquecida de antigas práticas de respiração e testou crenças há muito enraizadas sobre como respiramos. O que ele descobriu foi que basta um pequeno ajuste na forma de inspirar e expirar para melhorar o desempenho de um atleta; rejuvenescer nossos órgãos; deter o ronco, a asma e doenças autoimunes; e até endireitar colunas com escoliose. Parece mentira, mas não é.</p>
                        <p>Em Respire, Nestor vai explorar a transformação que ocorre dentro do seu corpo a cada 3,3 segundos, explicar como os bilhões e bilhões de moléculas que você inspira constroem seus ossos, camadas musculares, sangue, cérebro e órgãos, e desvendar como esses bits microscópicos são, em última instância, os responsáveis por sua saúde e felicidade.</p>
                        <p><cite>“Nossa respiração é um presente bonito, misterioso e que cura, assim como este livro.”</cite> — Elizabeth Gilbert, autora de Comer, rezar, amar</p>
                        
                        <h5><a href="https://www.amazon.com.br/Respire-nova-ci%C3%AAncia-perdida-edi%C3%A7%C3%A3o/dp/855100963X/ref=sr_1_1?crid=1SZR8W1ILQDFJ&dib=eyJ2IjoiMSJ9.eHpBqJUOH0E31aCO1-UBBM1DPudjjuTNKhW83mb-Qiy5s7kYEopybOoAwFwILJ6DN1_itmY9yUpDf75CgqrsodcGtBOFK2oqnQhdBrt-axodV12cPzah6r6wM_oPx1AD-47qbmYPa1MUpOv5xypr4kV-fvBMFVrolCVwPLoc4XEsijyF36TtGJ0u85J_i5omQwyZa-FhOrzvYXeBehCBLL4qLb4-OGZiWef0w6sZRLQ.jj7xv_ccXyrkbXVnusb6Qm0rf9rXBBrCXPsi2N__Pw4&dib_tag=se&keywords=respire+james+nestor&qid=1730384115&s=books&sprefix=respire+james%2Cstripbooks%2C206&sr=1-1" target="_blank">Link de compra na Amazon</a></h5>
                    </section>
                    
                </div>    
            </div>

        </main>

        <div id="footer"></div>    
    </body>

</html>