<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    
    <li>
        <a href="">Velas e Perfumes</a>
        <a href="">Livros e E-book's</a>
        <a href="">Canecas</a>
        <a href="">Funko Pop</a>
        <a href="">Fantasias</a>
        <a href="">Jogos</a>
        <a href="../../itens_utilizados/pdfs-desafios/diario-leitura.pdf">Diário de Leitura</a>
        <a href="">Eventos</a>
    </li>
    

</body>

<footer>

    <p> Mapa do site: </p>
    <li>
        <a href="index.html">Início</a>
        <a href="login.html">Login</a>
        <a href="resenhas.html">Resenhas</a>
        <a href="lancamentos.html">Lançamentos</a>
        <a href="desafio.html">Desafios</a>
        <a href="linksUteis.html">Links</a>
    </li>
    
    </footer>
</html>