<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="Projeto Integrador, turma 35, grupo 05">
  <title>Links Úteis</title>
  <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/styles-geral.css">
  <link rel="stylesheet" href="../css/styles-links.css">

  <script src="../js/loadFooter.js" defer></script>
  <script src="../js/loadHeader.js" defer></script>
</head>

<body>
  <header id="header"></header>

  <main>
    <ul>
      <li>
        <div class="plus-icon plus-azul"></div>
        <a href="https://www.amazon.com.br/s?k=velas+literarias&__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2LHHL3H4L7CRF&sprefix=velas+literarias%2Caps%2C195&ref=nb_sb_noss_1" target="_blank">Velas <br> e Perfumes</a>
      </li>
      <li>
        <div class="plus-icon plus-bege"></div>
        <a href="https://www.amazon.com.br/kindle-dbs/storefront?storeType=browse&node=5475882011" target="_blank">E-book's e <br> Leitor Digital</a>
      </li>
      <li>
        <div class="plus-icon plus-roxo"></div>
        <a href="https://www.amazon.com.br/s?k=canecas+literarias&i=digital-text&__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2NKYUOF8CDN4V&sprefix=canecas+literarias%2Cdigital-text%2C187&ref=nb_sb_noss_1" target="_blank">Canecas</a>
      </li>
      <li>
        <div class="plus-icon plus-bege"></div>
        <a href="https://www.amazon.com.br/funko-pop/s?k=funko+pop" target="_blank">Funko Pop</a>
      </li>
      <li>
        <div class="plus-icon plus-bege"></div>
        <a href="https://www.amazon.com.br/s?k=fantasias+para+adultos&crid=3AZ5UVFZ39T4N&sprefix=fantasias%2Caps%2C230&ref=nb_sb_ss_ts-doa-p_8_9" target="_blank">FANTASIAS</a>
      </li>
      <li>
        <div class="plus-icon plus-rosa"></div>
        <a href="https://www.amazon.com.br/s/ref=nb_sb_noss?__mk_pt_BR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Dvideogames&field-keywords=&crid=ONT3AE9R5ZZ9&sprefix=%2Cvideogames%2C452" target="_blank">JOGOS</a>
      </li>
      <li>
        <div class="plus-icon plus-bege_roxo"></div>
        <a href="../../itens_utilizados/pdfs-desafios/diario-leitura.pdf" target="_blank">Diário de Leitura</a>
      </li>
      <li>
        <div class="plus-icon plus-laranja"></div>
        <a href="https://liliancardoso.com.br/calendario-dos-principais-eventos-literarios-nacionais-e-internacionais-de-2024/"
          target="_blank">EVENTOS</a>
      </li>
    </ul>
  </main>

  <footer id="footer"></footer>
</body>

</html>