<!DOCTYPE html>
<html lang="pt-BR">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="../../itens_utilizados/images/images-paginas/pilha-livros-1.png" type="image/x-icon">

    <link rel="stylesheet" href="../css/styles-geral.css">
    </head>


    <body>

        
        <a href="index.html">
        <img src="../../itens_utilizados/images/images-paginas/logo.png" alt="logo">
        </a>

        <li>
            <a href="" target="_blank">Velas e Perfumes</a>
            <a href="" target="_blank">Livros e E-book's</a>
            <a href="" target="_blank">Canecas</a>
            <a href="" target="_blank">Funko Pop</a>
            <a href="" target="_blank">Fantasias</a>
            <a href="" target="_blank">Jogos</a>
            <a href="../../itens_utilizados/pdfs-desafios/diario-leitura.pdf">Diário de Leitura</a>
            <a href="" target="_blank">Eventos</a>
        </li>


    </body>

    <footer>
        <hr>
        <a href="index.html">
        <img src="../../itens_utilizados/images/images-paginas/logo.png" alt="logo">
        </a>
    
        <p> Mapa do site: </p>
        <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="login.html">Login/Cadastro</a></li>
            <li><a href="resenhas.html">Resenhas</a></li>
            <li><a href="lancamentos.html">Lançamentos</a></li>
            <li><a href="desafio.html">Desafios</a></li>
            <li><a href="linksUteis.html">Links úteis</a></li>
        </ul>
    
    
        <h3>Desenvolvido pelo Grupo-5 | Turma 35 | Proz</h3>
    
    </footer>
</html>