<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript">
  <meta name="description" content="Projeto Integrador, turma 35, grupo 05">
  <title>Livros que Viraram Séries</title>
  <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="../css/styles-geral.css">
  <link rel="stylesheet" href="../css/styles-lancamento.cs">
  <link rel="stylesheet" href="../css/styles-livrosseries.css">

  <script src="../js/loadFooter.js" defer></script>
  <script src="../js/loadHeader.js" defer></script>
</head>

<body>
  <header id="header"></header>

  <main>
    <h1 class="text_title">LIVROS QUE VIRARAM SERIES</h1>

    <video width="320" height="240" controls autoplay>
      <source src="movie.mp4" type="video/mp4">
    </video>

    <div class="imagem-fundo2">
      <div class="carousel-container">
        <section class="section_center">
          <img src="../../itens_utilizados/images/livros-series/docemagnolia.jpg" alt="foto livro doces magnólias">

          <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <h3>LIVRO QUE VIRARAM SÉRIE <br> "Doces Magnólias"</h3>
          <p class="author">Escrito por Sherryl Woods</p>

          <p>Páginas: 368</p>
          <p>Gênero: Ficção Feminina</p>

          <p><strong>Sobre a autora:</strong> Sherryl Woods é uma autora americana nascida em 1944,
            conhecida por seus romances contemporâneos, como a série "Doce Magnólia". Formada em
            jornalismo, Woods escreve sobre amizade, amor e a vida em pequenas cidades.
            Com mais de 100 obras e vários prêmios, ela é uma best-seller reconhecida, com um estilo
            emocional e personagens realistas. Vive na Virgínia, onde se inspira para suas histórias.</p>
            
          <p><strong>Início</strong>: Sherryl Woods começou sua carreira na década de 1980, após se formar em jornalismo
            pela Universidade de Ohio. Seu primeiro romance foi publicado em 1982, e desde então, ela se dedicou
            a escrever ficção romântica e contemporânea. Inicialmente, Woods escreveu para editoras de romances e
            foi reconhecida por seu talento em criar histórias emocionais e envolventes.
            Com o tempo, ela estabeleceu uma base de fãs leal, especialmente com suas séries populares,
            como "Doce Magnólia" e "Chesapeake Shores". Seu estilo acessível e suas personagens cativantes
            ajudaram a solidificar sua posição como uma autora de best-sellers. Ao longo dos anos,
            Woods continuou a expandir seu repertório, explorando temas de amizade e amor em suas obras.</p>

          <p><strong>Best-sellers:</strong> Sherryl Woods é uma autora de best-sellers conhecida por suas séries,
            como "Doce Magnólia" e "Chesapeake Shores", que exploram amizade, amor e laços familiares.
            Seus livros frequentemente figuram nas listas do New York Times e da USA Today e são
            apreciados por suas histórias emocionais e personagens cativantes.</p>

          <p><strong>Adaptações:</strong> As obras de Sherryl Woods foram adaptadas principalmente para a televisão:
            Doce Magnólia: A série da Netflix, estreada em 2020, segue três amigas enfrentando os desafios
            da vida em Serenity, Carolina do Sul. Duas temporadas foram lançadas, com uma terceira já anunciada.
            Chesapeake Shores: A série do Hallmark Channel, que começou em 2016, explora dinâmicas familiares e
            relacionamentos na cidade costeira de Chesapeake Shores. Teve cinco temporadas.
            Ambas as adaptações destacam relações interpessoais e o crescimento emocional dos
            personagens, atraindo fãs dos livros e novos espectadores.</p>

          <p><strong>Estilo de Escrita:</strong> O estilo de escrita de Sherryl Woods é emocional e sensível,
            com foco em personagens realistas e diálogos autênticos. Suas histórias ambientadas
            em pequenas cidades apresentam uma narrativa envolvente e abordam temas universais como
            amizade, amor e superação. A escrita é acessível e fluida, atraindo leitores que buscam
            conexões emocionais.</p>

          <p><strong>Sinopse</strong> do Livro:No coração da pequena cidade de Serenity, Carolina do Sul, três
            amigas de infância, Maddie, Helen e Dana Sue,
            se reúnem para enfrentar os desafios da vida adulta. Após um divórcio doloroso, Maddie busca reconstruir
            sua vida e encontrar um novo propósito como mãe solteira. Helen, uma advogada de sucesso, lida
            com questões emocionais profundas e a busca por um amor verdadeiro. Dana Sue, proprietária de um
            restaurante, enfrenta seus próprios dilemas familiares. Juntas, elas compartilham risos, lágrimas
            e segredos, encontrando força em sua amizade enquanto navegam por relacionamentos complicados e as
            incertezas da vida. "Doce Magnólia" é uma celebração da amizade, amor e da importância de ter um
            lugar para chamar de lar.</p>
            
          <p><strong>Sinopse da Serie:</strong>Em Serenity, Carolina do Sul, três amigas de infância — Maddie, Helen
            e Dana Sue — se
            reúnem para enfrentar os altos e baixos da vida. Após um divórcio doloroso, Maddie busca se reerguer
            e equilibrar a maternidade com novos desafios. Helen, uma advogada de sucesso, lida com as expectativas
            da carreira e a busca por amor verdadeiro. Dana Sue, uma chef talentosa, enfrenta complicações
            em sua vida pessoal e profissional. Juntas, elas oferecem apoio mútuo enquanto navegam por
            relacionamentos
            complicados, crises familiares e descobertas pessoais. "Doce Magnólia" é uma série emocionante que
            celebra a força da amizade e a resiliência das mulheres em tempos difíceis.</p>

          <h5><a href="https://www.amazon.com.br/Sweet-Magnolias-Collection-Anthology-English-ebook/dp/B01N2XO97N/ref=sr_1_4?crid=2DPJVEU1LRN4J&dib=eyJ2IjoiMSJ9.Lmld8Y0hjbuH1DZbUyIbHA-bFfbrX-oH6-ClzsAAA26CA8ekl8Pe65vZnZch2DEO5WJ5VUenYz7CJ7Gc6HmHqMmIiWFim1u2I-Pv8fvToUbITV8XkiD8WBbRGnDMfjDWmWNiiWi7qRWXJvObzOZIY8sEPXxgS8kXbbb72RA_EGUC1iTuKMGE0DmrSgdEu7TQaxM8pBsMvyKGEnFRYhK-MpQbxbQs0FGyfP2-G4bP1fy77qlo7qYhS7KyrJq4Rcr6uRzrZ30_FyW6tO3YGNzJf7kqbpjKAjZveHNVgSMBUPQ.Ag2sOAeVe6rTSyg19m-NHdFd4VRjgaDfnFXya1Spxsw&dib_tag=se&keywords=doce+magnolias&qid=1730055643&sprefix=DOCE+MAG%2Caps%2C194&sr=8-4" target="_blank">Link de compra na Amazon</a></h5>
        </section>

        <section class="section_center">
          <img src="../../itens_utilizados/images/livros-series/13reasons why.jpg" alt="foto livro e serie 13 reasons why">

          <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <h3>LIVRO QUE VIRARAM SÉRIE <BR> "13 Reasons Why"</h3>
          <p class="author">Jay Asher</p>

          <p>Páginas: 288</p>
          <p>Gênero: Ficção / Drama / Romance / Psicológico</p>

          <p><strong>Sobre a autor:</strong> Jay Asher é um autor americano conhecido principalmente por seu
            livro "13 Reasons Why, nascido em 30 de setembro de 1975, em Arcadia, Califórnia,
            Formado pela University of California, Santa Barbara.
            Seu livro 13 Reasons Why" (2007) aborda temas como bullying, depressão
            e suicídio. O livro foi adaptado para uma série da Netflix em 2017.
            Outros Livros: Escreveu também "The Future of Us" (com Carolyn Mackler) e
            "What Light".</p>

          <p><strong>Início:</strong> Jay Asher começou sua carreira como autor com a publicação de seu primeiro livro,
            "13 Reasons Why," que foi lançado em 2007. No entanto, antes de se tornar um autor publicado,
            ele trabalhou como livreiro, o que lhe proporcionou uma boa compreensão do público jovem e de
            suas preferências literárias.</p>

          <p><strong>Best-sellers:</strong> 13 Reasons Why" recebeu várias indicações e prêmios, consolidando seu
            lugar
            na literatura jovem-adulta e destacando sua relevância cultural.
            O livro vendeu milhões de cópias em todo o mundo, alcançando altas
            posições nas listas de mais vendidos, incluindo a New York Times Best Sellers
            List. O sucesso gerou várias edições, incluindo versões em capa dura, brochura e e-books.</p>

          <p><strong>Sinopse do livro:</strong> O livro narra a história de Hannah Baker, uma estudante do ensino
            médio que comete
            suicídio. Antes de sua morte, Hannah grava uma série de fitas, cada uma explicando uma razão
            específica que a levou a essa decisão trágica. Essas razões estão ligadas a diferentes
            pessoas em sua vida, que, de alguma forma, contribuíram para seu sofrimento.
            O protagonista, Clay Jensen, recebe as fitas de Hannah após sua morte.
            Ao ouvir cada gravação, ele descobre as histórias dolorosas que cercam
            as interações que teve com Hannah e as ações de outras pessoas. Ao longo
            da narrativa, Clay revive memórias e sentimentos de impotência, culpa e
            tristeza, enquanto tenta entender por que Hannah se sentiu tão isolada e
            desesperada.
            "13 Reasons Why" aborda temas como bullying, depressão, assédio e a
            importância da empatia, destacando o impacto que pequenas ações podem
            ter na vida de alguém. Através da jornada de Clay, os leitores são levados
            a refletir sobre as consequências de suas ações e a necessidade de uma comunicação
            aberta sobre saúde mental.
            Essa narrativa poderosa e comovente convida os leitores a considerar
            as experiências de Hannah e a necessidade de apoiar uns aos outros
            em momentos de dificuldade.</p>

          <p><strong>Sinopse da Série:</strong>"13 Reasons Why", lançada pela Netflix em 2017, é uma adaptação do
            livro
            homônimo de Jay Asher. A trama gira em torno de Hannah Baker, uma adolescente que comete suicídio,
            deixando para trás uma série de fitas gravadas que revelam as treze razões que a levaram a essa
            trágica decisão.
            Quando Clay Jensen, um de seus colegas, recebe as fitas, ele é forçado a confrontar o
            impacto de suas ações e as de seus amigos na vida de Hannah. Cada episódio é centrado em
            uma das razões contidas nas fitas, que incluem bullying, assédio, traição e a falta de
            apoio emocional. À medida que Clay ouve as gravações, ele se vê em uma jornada emocional
            para entender a dor de Hannah e a complexidade dos relacionamentos adolescentes.
            A série não apenas foca na história de Hannah, mas também explora as vidas dos personagens
            que a cercam, revelando suas próprias lutas e as consequências de suas ações. "13 Reasons Why"
            aborda temas sérios como saúde mental, suicídio, consentimento e as pressões enfrentadas pelos
            jovens, gerando debates significativos sobre esses tópicos.
            Com várias temporadas, a série expande a narrativa original, explorando o impacto do suicídio
            de Hannah em sua escola e na comunidade, além de trazer novos personagens e subtramas que
            aprofundam a discussão sobre a saúde mental e as dificuldades enfrentadas pelos adolescentes.</p>

          <h5><a href="https://www.amazon.com.br/13-Reasons-Why-Jay-Asher/dp/0451478290/ref=sr_1_1?crid=EWOCKQJ36BOR&dib=eyJ2IjoiMSJ9.ul8BLxox0K6HYa60eWv709zJn067P9cnrtESZO2sND12fyf99eG2-7jgHBe1xrmNF8XXDv3r429IT_MuioGWRxKaJZIUmCwF-pdmL2HV4J4BJO4OK7qSY2Eywgsl3WGB-ztyr05uFNL1nJISb8W-tpoYzpxuoNb_ojvMOjCs7P7K2Bp2ZKCRnq394igJ4XNMtqbOwvOrUkeml4V1MYe_m4d8kg9PxKmpv_zaeh1vA3uo79T9CC3MMqn1jldnbk07WHHPCKin5Qp1hyAjSca6PujFAIPRI22nQrkjzlgsjPg.L6XM86ZB8pM1g0NcYjxhgktjZgLbQk9_pc9cAVsvlO4&dib_tag=se&keywords=13+reasons+why&qid=1730055573&sprefix=13%2Caps%2C217&sr=8-1" target="_blank">Link de compra na Amazon</a></h5>
        </section>

        <section class="section_center">
          <img src="../../itens_utilizados/images/livros-series/pequenasgrandesmentiras.jpeg" alt="foto livro">

          <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <h3>LIVRO QUE VIRARAM SÉRIE <BR> "PEQUENAS GRANDES MENTIRAS"</h3>
          <p class="author">Escrito por Liane Moriarty</p>

          <p>Páginas: 450</p>
          <p>Gênero: Ficção Comtemporânea / Drama Psicológico</p>

          <p><strong>Sobre a Autora:</strong> Liane Moriarty é uma autora australiana nascida em 15 de novembro de 1966,
            em Sydney,
            Nova Gales do Sul. Ela é conhecida por seus romances de ficção contemporânea, que frequentemente exploram a
            vida cotidiana,
            relacionamentos complexos e questões sociais.</p>

          <p><strong>Inicio:</strong> iane Moriarty começou sua carreira em 2003 com Three Wishes e ganhou fama
            internacional
            com The Husband's Secret (2013). Seu sucesso aumentou com Big Little Lies (2014),
            adaptado pela HBO e aclamado por abordar temas como violência doméstica. Além deste,
            Moriarty escreveu outros best-sellers, como Truly Madly Guilty e Nine Perfect Strangers,
            também adaptado para TV. Ela é conhecida por misturar drama e humor ao explorar temas
            complexos da vida cotidiana, sendo uma das autoras mais populares da ficção contemporânea.</p>

          <p><strong>Best-Sellers:</strong> Liane Moriarty tem vários best-sellers que se destacaram mundialmente. Segue
            alguns:
            The Husband's Secret (2013) - Um suspense sobre segredos familiares, que se tornou
            um best-seller internacional e colocou Moriarty no mapa literário global.
            -Big Little Lies (2014) - Um drama que explora amizades femininas, violência
            doméstica e mistérios ocultos. Aclamado, foi adaptado para uma premiada
            série da HBO.
            - Truly Madly Guilty (2016) - Explora como uma única noite impacta a vida de três
            casais, tocando em temas como amizade e arrependimento.
            - Nine Perfect Strangers (2018) - Nove personagens se encontram em um retiro,
            e os segredos e conflitos pessoais vêm à tona. O livro também foi adaptado para
            uma série de TV.
            Esses romances consolidaram Moriarty como uma das autoras mais queridas e
            lidas na ficção contemporânea, reconhecida por sua narrativa envolvente e
            personagens bem construídos.</p>

          <p><strong>Sinopse do livro:</strong> No livro Pequenas Grandes Mentiras (Big Little Lies), Liane Moriarty
            narra a
            história de três mulheres — Madeline, Celeste e Jane — que se tornam amigas ao levarem seus filhos
            para a mesma escola em uma pequena comunidade. Embora suas vidas pareçam perfeitas, cada uma
            carrega segredos e enfrenta desafios particulares: Madeline está em conflito com seu ex-marido
            e sua filha adolescente, Celeste oculta problemas em seu casamento aparentemente ideal,
            e Jane, uma mãe solteira, lida com um passado doloroso.
            A trama se desenrola com um tom de mistério crescente, até culminar em um
            evento trágico durante uma noite de confraternização escolar. O livro explora
            temas como violência doméstica, bullying, amizade e os papéis impostos às mulheres,
            enquanto revela a verdade por trás das "pequenas grandes mentiras" que sustentam as
            aparências.</p>

          <p><strong>Sinopse do Serie:</strong> A série Pequenas Grandes Mentiras (Big Little Lies) segue as vidas de
            três
            mulheres — Madeline (Reese Witherspoon), Celeste (Nicole Kidman) e Jane (Shailene Woodley) — que vivem
            na tranquila cidade costeira de Monterey, Califórnia. Embora pareçam ter vidas perfeitas, cada uma
            enfrenta problemas pessoais complexos: Madeline lida com conflitos familiares e com a presença
            da nova esposa de seu ex-marido, Celeste esconde um casamento abusivo e traumatizante,
            e Jane, uma mãe solteira, carrega um passado sombrio.
            A narrativa é construída em torno de um crime misterioso que ocorre durante um evento
            escolar, revelado aos poucos por meio de flashbacks e entrevistas com moradores da cidade.
            À medida que a investigação avança, os segredos das protagonistas vêm à tona, expondo temas
            como violência doméstica, bullying, rivalidades e as pressões da maternidade.
            Com uma combinação de drama e suspense, a série explora como pequenas mentiras
            podem ter grandes consequências. A produção foi aclamada pela crítica, ganhando prêmios
            como o Emmy e o Globo de Ouro, e é amplamente elogiada pelas atuações e abordagem de temas
            sociais.</p>

          <h5><a href="https://www.amazon.com.br/Pequenas-Grandes-Mentiras-Liane-Moriarty-ebook/dp/B00SZ8IJOI/ref=sr_1_1?crid=1YDUS7F8FIWTP&dib=eyJ2IjoiMSJ9.TTiW2uotfKBAY4Nq4tHb1AeTdXYN_E6c4R9wo0MIQ0M3US_ocpOxp4k4ppfFiQIw0t_8lxU4FulK4lmiTowO0ewWv3ZALQ79IxDUKbLupwOv56B5zg1rVt4tYVQc_4vqvHR2k3ArqCWmXfnGTqSyEkU4Is3Vfn00Sf2tZOYMfJIkcPEUDMcbXVoOh-pWMzFN4jR-3-oVThmqyF-613-VmXwQ2pmmhXHnLci30zvxFDpoJ6rd8d5SwfGLq3q6aT7KuNfuo0zgkjpP1uSXUVH1qNK8QOxsXkOy9KKDOpgRZGg.YpsFWdYVyoWaSZCjZ4ZbcQtlrOEjuJizR4RwB7ADVSQ&dib_tag=se&keywords=pequenas+grandes+mentiras&qid=1730055359&sprefix=PEQUENAS+GRANDES+%2Caps%2C282&sr=8-1" target="_blank">Link de compra na Amazon</a></h5>
        </section>

        <section class="section_center">
          <img src="../../itens_utilizados/images/livros-series/gameofthrones.jpg" alt="foto livro Game of Thrones">

          <iframe width="420" height="315" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
          <h3>LIVRO QUE VIRARAM SÉRIE: "GAME OF THRONES"</h3>
          <p class="author">Escrito por George R. R. Martins</p>

          <p>Páginas: 320</p>
          <p>Gênero: Fantasia Épica / Ficção Especulativa</p>

          <p><strong> Sobre o Autor:</strong> George R.R. Martin Nascido em 20 de setembro de 1948, em Bayonne, Nova
            Jersey.
            Formou-se na Universidade de Northwestern em 1970.</p>

          <p><strong>Inicio:</strong> George R.R. Martin começou sua carreira na década de 1970, escrevendo contos de
            ficção científica
            e fantasia. Publicou seu primeiro romance, "Dying of the Light", em 1977, e trabalhou como roteirista
            em séries de TV, como "The Twilight Zone". Também colaborou em antologias, como a série "Wild
            Cards", ajudando a estabelecer sua reputação como autor.</p>

          <p><strong>Best-Sellers:</strong> Os principais best-sellers de George R.R. Martin são os livros da série
            "A Song of Ice and Fire", incluindo:

            <ul class="ul_ol_list_center">
              <li>"A Game of Thrones" (1996)</li>
              <li>"A Clash of Kings" (1998)</li>
              <li>"A Storm of Swords" (2000)</li>
              <li>"A Feast for Crows" (2005)</li>
              <li>"A Dance with Dragons" (2011)</li>
            </ul>

            Esses livros tiveram grande sucesso e contribuíram para a popularidade da série,
            especialmente após a adaptação para a HBO.</p>

          <p>Adaptações: Game of Thrones teve várias adaptações e expansões, incluindo:</p>

          <ol class="ul_ol_list_center">
            <li>Livros: Baseada na série As Crônicas de Gelo e Fogo de George R.R. Martin, que ainda
              está em andamento e oferece uma narrativa mais detalhada.</li>
            <li>Prequels:</li>

            <ul>
              <li style="list-style: square;">House of the Dragon: Uma série lançada em 2022 que explora a história da
                Casa Targaryen, ocorrendo 200 anos antes de Game of Thrones.</li>
              <li style="list-style: square;">Outros projetos de prequels e spin-offs estão em desenvolvimento pela
                HBO.</li>
            </ul>

            <li>Quadrinhos: Adaptações em quadrinhos que expandem a narrativa da série.</li>
            <li>Videogames: Vários jogos inspirados na série, incluindo RPGs e jogos de estratégia.</li>
            <li>RPGs de Mesa: Jogos de RPG que permitem aos jogadores criar suas próprias histórias no universo de
              Game of Thrones.</li>
            <li>Documentários: Programas que exploram os bastidores e o impacto cultural da série.</li>
          </ol>

          <p>Essas adaptações ajudam a enriquecer o universo de Game of Thrones e a explorar seus complexos
            personagens e mitologia.</p>

          <p>Estilo da escrita:</p>

          <p><strong>Sinopse do livro:</strong> Em um mundo medieval repleto de intrigas políticas, traições e lutas
            pelo poder,
            a história se desenrola em Westeros, onde várias famílias nobres competem pelo controle do Trono
            de Ferro. A narrativa é contada por meio de múltiplos pontos de vista, cada um representando diferentes
            personagens e suas respectivas casas.
            A história começa com a morte do Mão do Rei, o que leva o Rei Robert Baratheon a
            viajar ao Norte para pedir a seu velho amigo, Eddard Stark, que assuma o cargo de
            Mão. Enquanto Eddard relutantemente aceita, ele se vê enredado em uma teia de conspirações
            e segredos. Ao mesmo tempo, a família Targaryen, deposta anos atrás, busca retomar o trono,
            liderada pelos irmãos Viserys e Daenerys.
            Enquanto isso, uma ameaça sobrenatural emerge no Norte, com a ressurgência de
            criaturas míticas conhecidas como os Caminhantes Brancos, que podem representar um
            perigo mortal para todos os reinos.
            O livro explora temas como lealdade, honra, poder e o custo da guerra, apresentando um
            elenco diversificado de personagens que enfrentam decisões difíceis em um ambiente implacável.
            A luta pelo Trono de Ferro leva a conflitos sangrentos e consequências inesperadas, estabelecendo
            as bases para os eventos que se seguirão nos livros subsequentes.</p>

          <p><strong>Sinopse da Serie:</strong> Em Westeros, o Trono de Ferro é o símbolo supremo de poder e controle
            dos Sete
            Reinos. A história gira em torno das lutas entre várias casas nobres, como os Stark, Lannister,
            Baratheon e Targaryen, enquanto eles buscam poder, lealdade e sobrevivência em meio a intrigas
            políticas, traições e guerras.
            Após a morte do Mão do Rei, o Rei Robert Baratheon viaja ao Norte para convidar Eddard
            "Ned" Stark a assumir o cargo. Ao aceitar, Ned se vê envolvido em um mundo de conspirações
            e corrupção na corte de Porto Real. Paralelamente, os irmãos Targaryen, Viserys e Daenerys,
            tentam recuperar o trono perdido de sua família.
            Enquanto isso, uma ameaça crescente se aproxima do Norte, com os Caminhantes Brancos e os
            mortos-vivos, que representam um perigo iminente para todos os seres humanos.
            A série é conhecida por seu enredo complexo, reviravoltas inesperadas, personagens multifacetados
            e um forte foco em temas como poder, ambição, moralidade e o custo da guerra. Com várias histórias
            interligadas,
            "Game of Thrones" apresenta uma visão brutal e realista da luta pelo poder, culminando em batalhas
            épicas e decisões devastadoras.</p>

          <h5><a href="https://www.amazon.com.br/COLE%C3%87%C3%83O-CR%C3%94NICAS-GELO-FOGO-VOLUMES/dp/8900005936/ref=sr_1_5?crid=1GAF9J610I8GU&dib=eyJ2IjoiMSJ9.uqs1nHIpTjTu0TddyXAkOSl_kEEceNf5PEE1a1h3w1sI72c37APrZHDxyHjrQmAnv-ulwsxnq2H25wSlsqF9Pn2E5XXoM1zQ769huob3aiv95tYksFggj5qUQXf2WAHVUWkvmVBfgaeyYU12-0io-0gPb-dChWee2pTG0LC0XuUTTamKnrVDjO2Is1fEOiH3_ZNJVAizk4jcfYrn2bEoCF9-UVgwW3_Wjy7qD55J3zDlLvcKucjbDuM9AYxRw0TnIGZCtB7OVosYmpX3oWlA3BiOY-u2P4BWji9Go5p50E0.cg1WLQynLHyDvT7IsbvtJq6NN-09dCkDjFAjH4jKY6Q&dib_tag=se&keywords=game+of+thrones+livros&qid=1730055231&sprefix=GAME+OF%2Caps%2C185&sr=8-5&ufe=app_do%3Aamzn1.fos.4bb5663b-6f7d-4772-84fa-7c7f565ec65b" target="_blank">Link de compra na Amazon</a></h5>
        </section>
      </div>
    </div>
  </main>

  <footer id="footer"></footer>
</body>

</html>