<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login / Cadastra-se</title>
    <link rel="icon" href="../../itens_utilizados/images/images-paginas/bookFavicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/styles-login.css">
    <script src="../js/loadFooter.js" defer></script>
    <script src="../js/loadHeader.js" defer></script>
</head>
<body>
    <div id="header"></div>

    <div class="book">
        <!-- Login Page (Capa do Livro) -->
        <div class="book-page login-page">
            <h2>Login</h2>
            <form>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit">Entrar</button>
            </form>
        </div>
        <!-- Register Page (Parte Interna do Livro) -->
        <div class="book-page register-page">
            <h2>Registro</h2>
            <form>
                <input type="text" placeholder="Nome" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Senha" required>
                <button type="submit">Cadastre-se</button>
            </form>
        </div>
    </div>

    <div id="footer"></div>
</body>
</html>


