.text_title {
    text-align: center;
    color: #ef6602;
    text-decoration: underline;
}

.section_center {
    text-align: center;
    background-color: #F08080;
    padding: 50px;
    border-radius: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

.ul_ol_list_center {
    width: fit-content;
    margin: auto;
}

.title {
    font-style: italic; 
    text-decoration: underline;
}


.youtube {
    width: 420px;
    height: 315px;
}

.content_text {
    height: 700px;
    overflow-y: scroll;
    padding-left: 30px;
    padding-right: 20px;
}

.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-slide {
    width: 100%;
    min-width: 100%;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
  
  
@media screen and (max-width: 700px) {
    .youtube {
        width: 300px;
    }
}