#imagem-mapa-container {
    width: 80%;  
    margin: 0 auto;  /* Centraliza o container na página */
    padding: 0;      /* Remove padding se houver */
    display: flex;   /* Flexbox para centralização */
    justify-content: center;  /* Centraliza horizontalmente */
}

/* Imagem dentro do container */
#imagem-mapa {
    width: 100%;
    height: auto;  /* Mantém a proporção da imagem */
    display: block;  /* Garante que a imagem seja um bloco */
    margin-left: auto;  /* Centraliza horizontalmente */
    margin-right: auto;  /* Centraliza horizontalmente */
    top: 50%;  /* Ajuste vertical */
    transform: translateY(-50%);  /* Centraliza verticalmente */
}


#lista-paginas ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#lista-paginas li {
    float: left;
}

#lista-paginas li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#lista-paginas li a:hover {
    background-color: lightskyblue;
}