/* Estilos gerais do body */
body {
    font-family: 'Poppins', sans-serif;
    /*padding: 10px;*/
    /*margin: 5px;*/
    background: #e8e8e8;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

/* Centraliza apenas o conteúdo do livro */
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-height: 100vh;
}

.book {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    perspective: 1500px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    margin: auto;/*adicionado*/
    
    
}

.book-page {
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #597cff;
    transform-origin: left;
    transition: transform 0.6s, background-color 0.6s;
    overflow: hidden;
    position: relative;
    justify-content: center;
    
}

.login-page {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
}

.register-page {
    background-color: #597cff;
    transform: rotateY(0deg);
    justify-content: center;
}




.book:hover .register-page {
    transform: rotateY(-180deg);
    background-color: rgba(255, 255, 255, 0.3);
}
h1{
    font-weight: 400px;
}

h2 {
    text-align: center;
    color: #ef6602;
    margin-bottom: 30px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
}

button {
    background: linear-gradient(45deg, #FF6B6B, #FFD93D);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}







